<div class="row">
    <div class="panel panel-primary">
        <!-- Default panel contents -->
        <div class="panel-heading">Burgers ready for consumption</div>

        <!-- Table -->
        <table class="table">
            <thead>
            <th>id</th>
            <th>burger_name</th>
            <th>devoured</th>
            <th>myDate</th>
            <th>Consume</th>
            </thead>
            <tbody>
            {{#each burgers}}
                {{#unless devoured}}
                    <tr>
                        <form action="burger/eat/{{id}}" method="POST">
                            <th scope="row" class="green">{{this.id}}</th>
                            <th class="green">{{this.burger_name}}</th>
                            <th class="green ">{{this.devoured}}</th>
                            <th class="green">{{this.myDate}}</th>
                            <th>
                                <button id="{{this.id}}" type="submit" class="btn btn-primary">Eat Me</button>
                            </th>
                        </form>
                    </tr>
                {{/unless}}
            {{/each}}
            </tbody>
        </table>
    </div>
</div>


<div class="row">
    <div class="panel panel-danger">
        <!-- Default panel contents -->
        <div class="panel-heading">Burgers that have been devoured</div>

        <!-- Table -->
        <table class="table">
            <thead>
            <th>id</th>
            <th>burger_name</th>
            <th>devoured</th>
            <th>myDate</th>

            </thead>
            <tbody>
            {{#each burgers}}
                {{#if devoured}}
                    <tr>
                        <th scope="row" class="red">{{this.id}}</th>
                        <th class="red">{{this.burger_name}}</th>
                        <th class="red">{{this.devoured}}</th>
                        <th class="red">{{this.myDate}}</th>
                    </tr>
                {{/if}}
            {{/each}}
            </tbody>
        </table>
    </div>

</div>


